body {
    background: black;
    color: white;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.timer {
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    animation: fade-in-animation 0.3s ease-in 3s forwards;
    animation-duration: 5s;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 20%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.timer {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.display {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.25em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.25em;
}

.setTimer input {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.25em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
    ;
}